/* line 3, jewellery.home.component.scss */
.background {
  background: url('../app/assets/images/home-background.jpg') no-repeat center center;
  background-size: cover;
  width: 70%;
  margin: 0 auto;
  height: 840px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* line 13, jewellery.home.component.scss */
.background h1 {
  margin-top: 110px;
  font-weight: 400;
  letter-spacing: 15px;
  text-transform: uppercase;
}
/* line 19, jewellery.home.component.scss */
.background h2 {
  margin-bottom: 70px;
  font-weight: 600;
}
/* line 23, jewellery.home.component.scss */
.background h1, .background h2 {
  color: #455C7E;
}

/* line 28, jewellery.home.component.scss */
.home {
  width: 70%;
  margin: 0 auto;
  box-shadow: 5px 5px 100px grey;
  background-color: #fff;
  padding-bottom: 130px;
}
/* line 36, jewellery.home.component.scss */
.home h2 {
  padding-top: 75px;
  text-align: center;
  margin-top: 0;
}
/* line 41, jewellery.home.component.scss */
.home h2:after {
  content: '';
  width: 40px;
  display: block;
  margin: 15px auto;
  border-bottom: 2px solid #455C7E;
}
/* line 49, jewellery.home.component.scss */
.home .how-it-works-details-container {
  display: flex;
  margin: 50px auto 0;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}
/* line 55, jewellery.home.component.scss */
.home .how-it-works-details-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 60, jewellery.home.component.scss */
.home .how-it-works-details-container div img {
  height: 107px;
}
/* line 63, jewellery.home.component.scss */
.home .how-it-works-details-container div h3 {
  margin-top: 25px;
  text-align: center;
  width: 75%;
}
/* line 70, jewellery.home.component.scss */
.home .offers-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 75, jewellery.home.component.scss */
.home .offers-container button {
  background-color: transparent;
  cursor: pointer;
}
/* line 78, jewellery.home.component.scss */
.home .offers-container button:focus, .home .offers-container button:active {
  outline: 0;
}
/* line 87, jewellery.home.component.scss */
.home .offers-container button img {
  height: 100px;
}
/* line 91, jewellery.home.component.scss */
.home .offers-container .btn:focus {
  outline: 0;
}
/* line 94, jewellery.home.component.scss */
.home .offers-container .overFlow-container {
  overflow: hidden;
  height: 255px;
  width: 80%;
}
/* line 99, jewellery.home.component.scss */
.home .offers-container .overFlow-container jewellery-thumbnail {
  width: 600%;
}
/* line 103, jewellery.home.component.scss */
.home .offers-container div {
  width: 5%;
  margin: 5px;
}
