<div class="background">

  <h1>Search further!</h1>
  <h2>Start now</h2>

  <jewellery-search-form></jewellery-search-form>

</div>

<div class="home">

  <h2>How it works</h2>
  <div class="how-it-works-details-container">
    <div>
      <img src="app/assets/images/ic_search_white.svg">
      <h3>Search for the suitable gold product</h3>
    </div>
    <div>
      <img src="app/assets/images/phone.svg">
      <h3>Call the vendor to get more details about the product</h3>
    </div>
    <div>
      <img src="app/assets/images/businessman-with-dollar-money-sign-icon.svg">
      <h3>Visit the vendor to buy the product</h3>
    </div>
  </div>

  <h2>Latest Offers</h2>
  <div class="offers-container">
    <button [disabled]="translateValueLatestOffers == 0" (click)="arrow('latestOffers', 'left')">
      <img src="app/assets/images/arrow-left.svg"  [ngStyle]="translateValueLatestOffers == 0 ? {'opacity': '0.7'}: ''">
    </button>
    <div class="overFlow-container">
      <jewellery-thumbnail [products]="deals" [translate]="translateValueLatestOffers"></jewellery-thumbnail>
    </div>
    <button [disabled]="translateValueLatestOffers <= -83" (click)="arrow('latestOffers', 'right')">
      <img src="app/assets/images/arrow-right.svg" [ngStyle]="translateValueLatestOffers <= -83 ? {'opacity': '0.7'}: ''">
    </button>
  </div>

  <h2>Most Visited</h2>
  <div class="offers-container">
    <!--<div>-->
    <button [disabled]="translateValueMostVisited == 0" (click)="arrow('mostVisited', 'left')" [ngStyle]="translateValueMostVisited == 0 ? {'opacity': '0.7'}: ''">
      <img src="app/assets/images/arrow-left.svg">
    </button>
    <!--</div>-->
    <div class="overFlow-container">
      <jewellery-thumbnail [products]="mostVisited" [translate]="translateValueMostVisited"></jewellery-thumbnail>
    </div>
    <!--<div>-->
    <button [disabled]="translateValueMostVisited <= -83" (click)="arrow('mostVisited', 'right')">
      <img src="app/assets/images/arrow-right.svg" [ngStyle]="translateValueMostVisited <= -83 ? {'opacity': '0.7'}: ''">
    </button>
    <!--</div>-->
  </div>


</div>
