$lcolor: #F5D0CA;
$mcolor: #F0C7C5;
$dcolor: #133759;
$ldcolor: #586D8C;
$bgcolor: #fff;

$grey: #DFDFDF;

$mmcolor: #8A6D67;
$darkBlue: #455C7E;

$appWidth: 70%;

@mixin icon {
  background-color: $mmcolor;
  border-radius: 20px;
  padding: 3px;
  height: 25px;
  margin-right: 5px;
}

@mixin button-default {
  color: $dcolor;
  background-color: $lcolor;
  border: none;
}

@mixin button-focused {
  color: $lcolor;
  background-color: $dcolor;
}

$thumbnailsContainerHeight: 500px;
