/* line 5, styles.scss */
html {
  font-family: Helvetica, sans-serif;
  background-color: #DFDFDF;
  color: #DBBFAE;
}
/* line 9, styles.scss */
html body {
  background-color: #DFDFDF;
  margin: 0 auto 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
/* line 15, styles.scss */
html body h1 {
  margin-top: 0;
  text-transform: capitalize;
}
/* line 19, styles.scss */
html body h2 {
  color: #455C7E;
  text-transform: capitalize;
  font-weight: 400;
}
/* line 24, styles.scss */
html body h3 {
  font-size: 1.2em;
  text-transform: capitalize;
  font-weight: 400;
  color: #87655A;
}
