@import "../../assets/stylesheets/colors-theme";

.product-thumbnail-container {
  transition: transform 0.5s ease-in-out;
  display: flex;
  width: 100%;
  height: inherit;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  .product-thumbnail {
    //border: 1px solid black;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin: 5px 0.5%;
    width: 19%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: $grey;
    border: 1px solid $grey;
    transition: 0.3s all;
    &:hover {
      transition: 0.5s all;
      box-sizing: border-box;
      border: 1px solid $ldcolor;
    }
    img {
      width: 70%;
    }
    h3 {
      word-wrap: break-word;
      width: 80%;
      margin: 5px auto;
    }
    .fav-btn {
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }
  //img {
  //  width: 5%;
  //}
}
