<div class="product-thumbnail-container" [ngStyle]="applyTranslate()">
  <div *ngFor="let product of products" class="product-thumbnail">

    <div class="button-container">
      <button md-raised-button *ngIf="showEditDelBtn" (click)="editProduct()">edit</button>
      <button md-raised-button *ngIf="showEditDelBtn" (click)="deleteProduct(product)">delete</button>
    </div>

    <jewellery-favourite class="fav-btn" *ngIf="showFavouriteBtn(product)" [product]="product"></jewellery-favourite>

    <div (click)="routingToJewelleryDetails(product?.type, product?.id)">
      <img [src]="product?.imageUrl[0].url">
      <h3>{{product?.price}}</h3>
      <h3>{{product?.productName}}</h3>
      <h3>{{product?.sellerName}}</h3>
    </div>

    <!--<add-product (newPrice)="applyNewPricesForVendor($event)" (publishDone)="closeEditMode($event)" [product]="product"-->
    <!--*ngIf="showEditForm(product)"></add-product>-->
  </div>

  <div *ngIf="!products?.length" class="alert alert-warning warning empty-store-alert" role="alert">
    <p class="alert-body">
      <md-icon svgIcon="info"></md-icon>
      No products available, please come back later!
    </p>
  </div>

</div>

