<div class="product-thumbnail-container" [ngStyle]="applyTranslate()">
  <div *ngFor="let product of products" class="product-thumbnail">

    <i *ngIf="showEditDelBtn" (click)="editProduct(product)">edit</i>
    <i *ngIf="showEditDelBtn" (click)="deleteProduct(product)">delete</i>

    <jewellery-favourite class="fav-btn" *ngIf="showFavouriteBtn(product)" [product]="product"></jewellery-favourite>

    <div (click)="routingToJewelleryDetails(product?.type, product?.id)">
      <img [src]="product?.imageUrl[0].url">
      <h3>{{product?.price}}</h3>
      <h3>{{product?.productName}}</h3>
    </div>

    <add-product (newPrice)="applyNewPricesForVendor($event)" (publishDone)="closeEditMode($event)" [product]="product"
                 *ngIf="showEditForm(product)"></add-product>
  </div>
</div>

