/* line 3, nav.component.styles.scss */
.serching-form {
  margin: 0 auto;
}

/* line 7, nav.component.styles.scss */
.sign-in {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: 0.35s opacity;
  opacity: 0;
}

/* line 16, nav.component.styles.scss */
.show-sign-in {
  display: block;
  opacity: 1;
}

/* line 21, nav.component.styles.scss */
.hide-sign-in {
  display: none;
  opacity: 0;
}

/* line 26, nav.component.styles.scss */
.nav {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
/* line 31, nav.component.styles.scss */
.nav .above-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
/* line 36, nav.component.styles.scss */
.nav .above-header-container > p, .nav .above-header-container button {
  text-align: center;
  padding: 3px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #8A6D67;
  background-color: #F5D0CA;
  color: #8A6D67;
  transition: 0.3s all;
  margin: 0;
}
/* line 46, nav.component.styles.scss */
.nav .above-header-container > p:hover, .nav .above-header-container button:hover {
  cursor: pointer;
  background-color: #8A6D67;
  color: #F5D0CA;
  transition: 0.5s all;
}
/* line 53, nav.component.styles.scss */
.nav .above-header-container button {
  width: 100px;
}
/* line 55, nav.component.styles.scss */
.nav .above-header-container button:focus {
  outline: none;
}
/* line 60, nav.component.styles.scss */
.nav .above-header-container .user-dropdown-menu > p a {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #586D8C;
  padding-bottom: 5px;
}
/* line 67, nav.component.styles.scss */
.nav .above-header-container .user-dropdown-menu a {
  cursor: pointer;
}
/* line 73, nav.component.styles.scss */
.nav .nav-container {
  box-shadow: 5px 5px 100px grey;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 70px;
  align-content: center;
  align-items: center;
  background-color: #F0C7C5;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
/* line 86, nav.component.styles.scss */
.nav .nav-container li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  box-sizing: border-box;
}
/* line 97, nav.component.styles.scss */
.nav .nav-container li .menu-icon {
  position: relative;
  margin: 0 auto;
  border-radius: 50px;
  height: 45px;
  width: 45px;
  background-color: #F5D0CA;
  box-sizing: border-box;
  transition: 0.3s all;
}
/* line 106, nav.component.styles.scss */
.nav .nav-container li .menu-icon:hover {
  transform: translate(0, -15px) scale(1.25, 1.25);
  transition: 0.5s all;
  background-color: #fff;
}
/* line 112, nav.component.styles.scss */
.nav .nav-container li .menu-icon img {
  text-align: center;
  vertical-align: middle;
  height: 50px;
  width: 70%;
  padding: 3px;
  box-sizing: border-box;
}
/* line 121, nav.component.styles.scss */
.nav .nav-container li .active {
  transform: translate(0, -15px) scale(1.25, 1.25);
  transition: 0.5s all;
  background-color: #fff;
}
/* line 126, nav.component.styles.scss */
.nav .nav-container li h4 {
  position: absolute;
  font-weight: 400;
  font-size: 0.8em;
  margin: 5px 0 0;
  border-radius: 3px;
  transition: 0.3s all;
  text-align: center;
  color: #F5D0CA;
  padding: 5px;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 139, nav.component.styles.scss */
.nav .nav-container li .show-lable {
  transition: 0.5s all;
  transform: scale(1.1);
  z-index: 5;
  top: 37px;
}
/* line 146, nav.component.styles.scss */
.nav .nav-container li .logo img {
  height: 50px;
}
