/* line 12, nav.component.styles.scss */
.serching-form {
  margin: 0 auto;
}

/* line 16, nav.component.styles.scss */
.sign-in {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
}

/* line 23, nav.component.styles.scss */
.show-sign-in {
  visibility: visible;
}

/* line 27, nav.component.styles.scss */
.hide-sign-in {
  visibility: hidden;
}

/* line 31, nav.component.styles.scss */
.above-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
/* line 37, nav.component.styles.scss */
.above-header-container p, .above-header-container button {
  text-align: center;
  padding: 3px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #95989A;
  background-color: #E2D7D3;
  color: #95989A;
  transition: 0.3s all;
}
/* line 46, nav.component.styles.scss */
.above-header-container p:hover, .above-header-container button:hover {
  cursor: pointer;
  background-color: #95989A;
  color: #E2D7D3;
  transition: 0.5s all;
}
/* line 53, nav.component.styles.scss */
.above-header-container button {
  width: 100px;
}

/* line 59, nav.component.styles.scss */
.nav-container {
  box-shadow: 5px 5px 100px grey;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 70px;
  align-content: center;
  align-items: center;
  background-color: #DBBFAE;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
/* line 72, nav.component.styles.scss */
.nav-container li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  box-sizing: border-box;
}
/* line 83, nav.component.styles.scss */
.nav-container li .menu-icon {
  position: relative;
  margin: 0 auto;
  border-radius: 50px;
  height: 45px;
  width: 45px;
  background-color: #E2D7D3;
  box-sizing: border-box;
  transition: 0.3s all;
}
/* line 92, nav.component.styles.scss */
.nav-container li .menu-icon:hover {
  transform: translate(0, -15px) scale(1.25, 1.25);
  transition: 0.5s all;
  background-color: #fff;
}
/* line 97, nav.component.styles.scss */
.nav-container li .menu-icon.active {
  transform: translate(0, -15px) scale(1.25, 1.25);
  transition: 0.5s all;
  background-color: #fff;
}
/* line 102, nav.component.styles.scss */
.nav-container li .menu-icon img {
  text-align: center;
  vertical-align: middle;
  height: 50px;
  width: 70%;
  padding: 3px;
  box-sizing: border-box;
}
/* line 111, nav.component.styles.scss */
.nav-container li h4 {
  position: absolute;
  font-weight: 100;
  margin: 0;
  transition: 0.3s all;
  text-align: center;
  color: #6D2E2F;
  z-index: -1;
}
/* line 120, nav.component.styles.scss */
.nav-container li .show-lable {
  transition: 0.5s all;
  transform: scale(1.1);
  z-index: 0;
  top: 37px;
}
/* line 127, nav.component.styles.scss */
.nav-container li .logo img {
  height: 50px;
}

/* line 134, nav.component.styles.scss */
.background {
  background: url("app/images/home-background.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 750px;
  z-index: -1;
  box-shadow: 5px 5px 100px grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* line 146, nav.component.styles.scss */
.background h1 {
  margin-top: 150px;
  text-transform: capitalize;
}
/* line 150, nav.component.styles.scss */
.background h2 {
  margin-top: -25px;
  margin-bottom: 70px;
}
/* line 154, nav.component.styles.scss */
.background h1, .background h2 {
  color: #455C7E;
  font-weight: 100;
}
/* line 158, nav.component.styles.scss */
.background form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}
/* line 165, nav.component.styles.scss */
.background form input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #6D2E2F;
  font-size: 2em;
  width: 30%;
  color: #455C7E;
  transition: 0.5s all;
}
/* line 174, nav.component.styles.scss */
.background form input:focus {
  outline: none;
  font-size: 2em;
}
/* line 179, nav.component.styles.scss */
.background form label {
  margin-left: 30px;
  margin-right: 30px;
  color: #6D2E2F;
  font-size: 2.5em;
}
/* line 186, nav.component.styles.scss */
.background form button {
  width: 100px;
  background-color: transparent;
  border: none;
}
/* line 190, nav.component.styles.scss */
.background form button:focus {
  outline: none;
}
/* line 193, nav.component.styles.scss */
.background form button img {
  width: 80%;
}
