<div [ngClass]="toggleSignInFormClass()">
  <signin-signup (signInToggleOutPut)="setSignInToggle($event)" [signInToggleInput]="signInToggle"
                 [tabNum]="tabNum"></signin-signup>
</div>

<div class="nav">
  <div class="above-header-container">
    <p (click)="routeToFavouriteJewellery()">Favourite Products {{favouriteCount}}</p>

    <div *ngIf="toggleLogInBtn">
      <button (click)="toggleSignInFlag(0)">log in</button>
      <button (click)="toggleSignInFlag(1)">sign up</button>
    </div>

    <div class="row" *ngIf="!toggleLogInBtn">
      <div class="col">
        <div ngbDropdown class="user-dropdown-menu">
          <p id="dropdownBasic1">Hello!, {{userType}}<a ngbDropdownToggle>
            {{userName}}
          </a></p>
          <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" (click)="routeToProfile()">Profile</a>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <header>

    <ul class="nav-container">
      <li>
        <a [routerLink]="['seller/sellers-list']" routerLinkActive="active" (click)="setCurrentActiveNavItem('sellers')"
           (mouseover)="showLable('sellers')" (mouseleave)="hideLable()" [ngClass]="toggleActiveItem('sellers')"
           class="menu-icon">
          <img src="app/assets/images/seller-icon.svg">
        </a>
        <h4 [ngClass]="toggleLable('sellers')">Vendors</h4>
      </li>

      <li>
        <a [routerLink]="['/home/', 'ring']" routerLinkActive="active" (click)="setCurrentActiveNavItem('Rings')"
           class="menu-icon" (mouseover)="showLable('Rings')"
           (mouseleave)="hideLable()" [ngClass]="toggleActiveItem('Rings')">
          <img src="app/assets/images/wedding-ring.svg">
        </a>
        <h4 [ngClass]="toggleLable('Rings')">Rings</h4>
      </li>

      <li>
        <a [routerLink]="['/home/', 'necklace']" routerLinkActive="active" (click)="setCurrentActiveNavItem('Necklaces')"
           class="menu-icon" (mouseover)="showLable('Necklaces')"
           (mouseleave)="hideLable()" [ngClass]="toggleActiveItem('Necklaces')">
          <img src="app/assets/images/necklace-icon.svg">
        </a>
        <h4 [ngClass]="toggleLable('Necklaces')">Necklaces</h4>
      </li>

      <li>
        <a [routerLink]="['/home']" class="logo" (click)="setCurrentActiveNavItem('')">
          <img src="app/assets/images/zahab-logo-optimized.png">
        </a>
      </li>

      <li>
        <a [routerLink]="['/home/', 'bracelet']" routerLinkActive="active" (click)="setCurrentActiveNavItem('Bracelet')"
           class="menu-icon" (mouseover)="showLable('Bracelet')"
           (mouseleave)="hideLable()" [ngClass]="toggleActiveItem('Bracelet')">
          <img src="app/assets/images/bracelet-icon.svg">
        </a>
        <h4 [ngClass]="toggleLable('Bracelet')">Bracelets</h4>
      </li>

      <li>
        <a [routerLink]="['/home/', 'earring']" routerLinkActive="active" (click)="setCurrentActiveNavItem('Earring')"
           class="menu-icon" (mouseover)="showLable('Earring')"
           (mouseleave)="hideLable()" [ngClass]="toggleActiveItem('Earring')">
          <img src="app/assets/images/earrings-icon.svg">
        </a>
        <h4 [ngClass]="toggleLable('Earring')">Earrings</h4>
      </li>

      <li>
        <a [routerLink]="['/home/', 'other']" routerLinkActive="active" (click)="setCurrentActiveNavItem('Other')"
           class="menu-icon" (mouseover)="showLable('Other')"
           (mouseleave)="hideLable()" [ngClass]="toggleActiveItem('Other')">
          <img src="app/assets/images/different-icon.svg">
        </a>
        <h4 [ngClass]="toggleLable('Other')">Other products</h4>
      </li>
    </ul>
  </header>
</div>


