.serching-form {
  margin: 0 auto;
}

.sign-in {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.show-sign-in {
  visibility: visible;
}

.hide-sign-in {
  visibility: hidden;
}

.background {
  background: url("app/images/home-background.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 864px;
}

header ul {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius : 20px;
  background-color: #DBBFAE;
  padding-top: 25px;
  padding-bottom: 25px;
  /*height: 90px;*/
  box-sizing: border-box;
  margin: 0;
}

header ul li {
  display: inline-block;
  box-sizing: border-box;
  width: 10%;
  /*vertical-align: middle;*/
}
