@import "../../assets/stylesheets/colors-theme";

.serching-form {
  margin: 0 auto;
}

.sign-in {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: 0.35s opacity;
  opacity: 0;
}

.show-sign-in {
  display: block;
  opacity: 1;
}

.hide-sign-in {
  display: none;
  opacity: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  width: $appWidth;
  margin: 0 auto;
  .above-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    & > p, button {
      text-align: center;
      padding: 3px;
      width: 200px;
      border-radius: 20px;
      border: 1px solid $mmcolor;
      background-color: $lcolor;
      color: $mmcolor;
      transition: 0.3s all;
      margin: 0;
      &:hover {
        cursor: pointer;
        background-color: $mmcolor;
        color: $lcolor;
        transition: 0.5s all;
      }
    }
    button {
      width: 100px;
      &:focus {
        outline: none;
      }
    }
    .user-dropdown-menu {
      & > p a {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $ldcolor;
        padding-bottom: 5px;
      }
      a {
        cursor: pointer;
      }
    }
  }

  .nav-container {
    box-shadow: 5px 5px 100px grey;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 70px;
    align-content: center;
    align-items: center;
    background-color: $mcolor;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    li {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      list-style: none;
      flex-grow: 1;
      flex-shrink: 0;
      text-align: center;
      box-sizing: border-box;
      .menu-icon {
        position: relative;
        margin: 0 auto;
        border-radius: 50px;
        height: 45px;
        width: 45px;
        background-color: $lcolor;
        box-sizing: border-box;
        transition: 0.3s all;
        &:hover {
          transform: translate(0, -15px) scale(1.25, 1.25);
          transition: 0.5s all;
          background-color: #fff;
        }

        img {
          text-align: center;
          vertical-align: middle;
          height: 50px;
          width: 70%;
          padding: 3px;
          box-sizing: border-box;
        }
      }
      .active {
        transform: translate(0, -15px) scale(1.25, 1.25);
        transition: 0.5s all;
        background-color: #fff;
      }
      h4 {
        position: absolute;
        font-weight: 400;
        font-size: 0.8em;
        margin: 5px 0 0;
        border-radius: 3px;
        transition: 0.3s all;
        text-align: center;
        color: $lcolor;
        padding: 5px;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .show-lable {
        transition: 0.5s all;
        transform: scale(1.1);
        z-index: 5;
        top: 37px;
      }
      .logo {
        img {
          height: 50px;
        }
      }
    }
  }
}
