/* line 3, footer.styles.scss */
footer {
  height: 150px;
  font-weight: 100;
  background-color: #133759;
  color: #F5D0CA;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* line 12, footer.styles.scss */
footer .links-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
/* line 17, footer.styles.scss */
footer .links-container a {
  margin: 0 15px;
}
/* line 21, footer.styles.scss */
footer p {
  margin: 0;
  text-align: center;
}
/* line 24, footer.styles.scss */
footer p a {
  color: #fff;
  transition: 0.3s all;
}
/* line 28, footer.styles.scss */
footer p a:hover {
  color: #fff;
  transition: 0.5s all;
}
